@charset "UTF-8";

:root {
	--dark-brown: #663418;
	--dark-green: #6a7b6d;
	--light-blue:#97abaf;
	--light-brown: #946f62;
	--light-gray: #d5d9dc;
	--light-yellow: #afa48d;
}

@font-face {
    font-family: 'varela-round';
    src: url('assets/fonts/VarelaRound-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.ttf');
	font-weight: medium;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('assets/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Bold.ttf');
	font-weight: bold;
}

html {
	scroll-behavior: smooth;
}

body {
  margin: 0 !important;
}

span {
	user-select: none;
}

.header {
  color: #21243d;
  font-family: "Montserrat", Inconsolata, "Courier New", Courier, monospace;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

a {
    text-decoration: none;
}

.header img {
	height: auto;
	background-color: transparent!important;
	display: block;
	max-width: 100%;
}

.header .top {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	padding: 5px 0;
}

.header .top img {
	width: 100px;
	height: auto;
	background-color: transparent!important;
	display: block;
	max-width: 100%;
	border-radius: 50%;
}

.header .top > div {
	display: flex;
	justify-content: space-between;
	min-width: 11%;
	align-items: center;
}

.header .top > div > div {
	display: flex;
	user-select: none;
	flex-direction: column;
}

.header .top > div > div span {
	font-size: 18px;
}

.header span {
	font-size: 16px;
	color:black;
}

.header a {
	color: #21243d;
}

.header .spaced {
	font-size: 16px !important; 
	padding-left: 20px;
	font-weight: 300;
	letter-spacing: 3px;

}

.header .contact {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
}

.header nav {
	display: flex;
	align-items: center;
}

.header ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
}

.header li {
	border-right: 1px solid rgb(106, 106, 106);
	padding: 5px 10px;
  }
  
  .header  li:last-child {
	border-right: none;
  }

.header ul li a {
	cursor: pointer;
	color: rgb(106, 106, 106);
	font-weight: 600;
	text-decoration: none;
	text-overflow: ellipsis;
}

.header ul li a:hover {
	color: #21243d;
}

.header ul li img {
	width: 15px;
}

.contact-me {
	background-color: #D9E1C5;
	display: flex;
	flex-direction: column;
}

.contact-me .title-container {
	display: flex;
	margin: 5% 15% 0;
	flex-direction: column;
}

.title {
	vertical-align: baseline;
	font-size: 3rem;
	line-height: 1.2;
	font-family: 'Poppins Bold',sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	letter-spacing: 0;
	color: #141414;
	text-transform: none;
}

.contact-me .subtitle {
	color: #6a6a6a;
	margin: 20px 0;
	padding-bottom: 10px;
	border-bottom:  1px solid #a19f9f;
	font-family: Inconsolata, "Courier New", Courier, monospace;
	font-weight: 600;
	font-size: 1rem;
}

.contact-me .contact-ways-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 3% 15% 5%;
}

.contact-me .contact-ways-container > div {
	display: flex;
	flex-direction: column;
}

.contact-me .contact-ways-container .icon-container {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-me .contact-ways-container .icon-container img {
	width: 40px;
	height: 40px;
}

.contact-me .contact-ways-container span {
	font-family: Inconsolata, "Courier New", Courier, monospace;
	font-size: 14px;
	font-weight: 700;
	color: #6a6a6a;
	margin: 25px 0;
}

.contact-me .contact-ways-container a {
	font-family: Inconsolata, "Courier New", Courier, monospace;
	font-size: 20px;
	font-weight: 600;
	color: rgb(20, 20, 20);
}

.footer {
	color: #21243d;
	font-family: Inconsolata, "Courier New", Courier, monospace;
	width: 65%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	user-select: none;
  }
  
  .footer img {
	  height: auto;
	  background-color: transparent!important;
	  display: block;
	  max-width: 100%;
  }

.footer .left {
	display: flex;
	align-items: center;
	padding: 20px 0;
	font-family: 'varela-round';
}

.footer .left img {
	width: 50px;
	height: auto;
	background-color: transparent!important;
	display: block;
	max-width: 100%;
	border-radius: 50%;
}

.footer .right {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}

.footer .right nav {
	display: flex;
	align-items: center;
}

.footer .right ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
}

.footer .right ul li {
	margin-right: 40px;
}

.footer .right ul li a {
	cursor: pointer;
	color: rgb(106, 106, 106);
	font-weight: 600;
	text-decoration: none;
	text-overflow: ellipsis;
}

.footer .right ul li a:hover {
	color: #21243d;
}

.footer .right ul li img {
	width: 15px;
}

.instagram-featured {
	display: flex;
	margin: 5% 15%;
	flex-direction: column;
	font-family: 'Poppins Bold', sans-serif;
}

.instagram-featured .title {
	text-align: center;
	font-weight: 400;
	font-size: 2rem;
}

.instagram-featured .featured-container {
	display: flex;
	justify-content: space-between;
	margin: 5% 0;
}

.instagram-featured .featured-container > div > img{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	padding: 10px;
}

.instagram-featured .featured-container .subtitle {
	font-weight: 400;
	font-size: 1.2rem;
}

.instagram-featured .featured-container .round-button {
	border-radius: 30px;
	font-weight: 600;
	border: 2px solid black;
	padding: 5px 25px;
	cursor: pointer;
}

.services-section {
	display: flex;
	flex-direction: column;
	margin: 5% auto;
	width: 70%;
}

.services-section .title  {
	display: flex;
	align-items: flex-start !important;
	margin-bottom: 50px;
}

	.services-section .title span {
		font-family: 'Poppins Bold',sans-serif;
		font-weight: 600;
		font-size: 2.5rem;
		border-bottom: 2px solid black;
	}

.service {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

	.service .service-title {
		display: flex;
		border-bottom: 2px solid black;
		margin-left: 38px;
		justify-content: flex-end;
		padding-right: 15px;
	}

		.service .service-title span {
			font-family: 'Poppins',sans-serif;
			font-weight: 400;
			font-size: 1rem;
			color: #21243d;
		}

	.service .img-container {
		border-radius: 50%;
		background-color: #21243d;
		width: 80px;
		height: 80px;
		border: 2px solid black;
		margin-top: -2px;
		cursor: pointer;
	}

.service-content {
	display: flex;
}

.service-content .services, .service-content .services-text {
	width: 50%
}

.service-content .services-text {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
	padding: 0 20px;
}

.service-content .services-text span {
	font-family: 'Poppins',sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #21243d;
	padding-bottom: 10px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

#services-title {
	color: black;
	font-weight: bold;
	font-size: 1.5rem;
}

.banner-container {
	display: flex;
	width: 100%;
	height: 90vh;
}

.banner-background {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
}

.banner-text {
	display: flex;
	flex-direction: column;
	margin: 20% 0 0 20%;
}

.banner-text .title {
	font-family: 'Poppins Bold',sans-serif;
	font-weight: 800;
	color: black;
	font-size: 4rem;
}

.banner-text .sub-title {
	font-family: 'Poppins Bold',sans-serif;
	font-weight: 400;
	color: black;
	font-size: 1.4rem;
}

.banner-button {
	display: flex;
	max-width: 200px;
	justify-content: center;
	min-height: 60px;
	align-items: center;
	margin: 20px 20px 20px 0;
	cursor: pointer;
	transition: all .4s ease;
	border-radius: 50px;
	background: var(--dark-green);
	
}

.banner-button:hover {
	background: var(--light-yellow);
}

.banner-button a {
	font-family: 'Poppins Bold',sans-serif;
	font-weight: 400;
	color: white;
	font-size: 1rem;
	text-decoration: none;

}

.about-me-container {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 10% 0;
}

.about-me-container .images-container {
	display: flex;
	width: 50%;
	justify-content: flex-end;
	margin-right: 5%;

}

.about-me-container .images-container img {
	max-width: 300px;
	position: absolute;
	margin-right: 50px;
	border-radius: 50%;
}

.about-me-container .images-container .background {
	z-index: -1;
	width: 600px;
	height: 200px;
	background: #D9E1C5;
	position: relative;
	margin-top: 50px;
	border-radius: 25px;
}

.about-me-container .info-container {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.about-me-container .info-container > div {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.info-container .sub-title {
	font-family: 'Poppins Bold',sans-serif;
	font-weight: 400;
	color: black;
	font-size: 1.4rem;
}

.about-me-container .info-container .content {
	font-family: 'Poppins',sans-serif;
	font-weight: 400;
	color: black;
	font-size: 1rem;
}

.info-container .content span {
	margin: 5px 0;
}

.board {
    background: url('./assets/images/folhas.png');
    height: 40vh; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
	background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Center the image */
}

	.board .content {
		display: flex;
		flex-direction: column;
		background: rgba(255, 255, 255, 0.9);
		padding: 20px;
		text-align: center;
		margin: 0 30%;
	}

		.board .content span {
			font-family: 'Montserrat', sans-serif;
			font-weight: medium;
			color: black;
			margin: 20px 0;
			font-size: 18px;
		}

.fade {
	opacity: 1 !important;
	transition: all 0.5s ease-in-out;
}

.timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 150px 0;
}

.timeline .title {
	margin-bottom: 50px;
}

.timeline-topics {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
}

.topic-circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #6a6a6a;
	margin: -10px auto 0 auto;
}

.topic {
	font-family: 'varela-round';
	font-weight: bold;
	font-size: 1rem;
	opacity: 0;
}

.dotted-line {
	border-top: 4px dotted #6a6a6a; /* 1px width, dotted style, and black color */
	width: 85%; 
	height: 0;
  }

@media screen and (max-width: 1024px) {
	.header > div {
		width: 90% !important;
	}

	.images-container {
		margin-right: 3%;
		margin-left: 2%;
	}

	.contact-me > .title-container {
		margin: 5% 2%;
		text-align: center;
	}

	.contact-me > .title-container .title {
		font-size: 2rem;
	}

	.contact-ways-container {
		margin: 2% !important;
		white-space: nowrap; /* Prevents text from wrapping */
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.contact-me .contact-ways-container a {
		font-size: 14px;
	}

	.timeline {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.header > div {
		width: 98% !important;
	}

	.header .top img {
		max-width: 50px;
		max-height: 50px;
	}

	.header .top > div > div span {
		font-size: 14px !important;
	}

	.header ul li a {
		font-size: 14px !important;
	}

	.timeline-topics {
		max-width: 760px !important;
		width: initial;
	}

	.topic {
		font-size: .8rem;
	}
}

@media screen and (max-width: 425px) {
	.header .top .spaced {
		display: none;
	}

	.header .top > div {
		min-width: initial;
	}

	.banner-text {
		margin: 10% 2% 0 2%;
		justify-content: space-evenly;
	}

	.board .content {
		margin: 0 5%;
	}
	
	.services-section {
		width: 98%;
	}

	.services-section .title span {
		margin: 0 auto;
	}

	.service {
		margin: 20px 0;
	}

	.service .img-container {
		width: 40px;
		height: 40px;
	}

	.service-content .services-text {
		padding: 10px;
		margin: 10px;
	}

	.about-me-container .images-container {
		display: none;
	}

	.about-me-container .info-container {
		width: 100%;
		text-align: center;
	}

	.about-me-container .info-container > div {
		width: 100%;
	}

	.instagram-featured {
		margin: 2% 4%;
	}

	.contact-ways-container {
		flex-direction: column !important;
		align-items: center;
	}

	.contact-me .contact-ways-container > div {
		align-items: center;
		margin: 3% 0;
	}
}