@charset "UTF-8";

:root {
	--dark-brown: #663418;
	--dark-green: #6a7b6d;
	--light-blue:#97abaf;
	--light-brown: #946f62;
	--light-gray: #d5d9dc;
	--light-yellow: #afa48d;
}

@font-face {
    font-family: 'varela-round';
    src: url('assets/fonts/VarelaRound-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('assets/fonts/Poppins-Bold.ttf');
}

body {
  margin: 20px;
}

.header {
  color: #21243d;
  font-family: "varela-round", Inconsolata, "Courier New", Courier, monospace;
  width: 65%;
  margin: 0 auto;
}

.header img {
	height: auto;
	background-color: transparent!important;
	display: block;
	max-width: 100%;
}

.header .top {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	padding: 20px 0;
	border-bottom: 1px solid #c4c4c4;
}

.header .top img {
	width: 50px;
	height: auto;
	background-color: transparent!important;
	display: block;
	max-width: 100%;
	border-radius: 50%;
}

.header .top > div {
	display: flex;
	justify-content: space-between;
	min-width: 11%;
	align-items: center;
}

.header .top > div > div {
	display: flex;
	user-select: none;
	flex-direction: column;
}

.header .top > div > div span {
	font-size: 16px;
}

.header span {
	font-size: 13px;
	color:#8c8c8c;
}

.header a {
	color: #21243d;
}

.header .contact {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
}

.header .bottom {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}

.header .bottom nav {
	display: flex;
	align-items: center;
}

.header .bottom ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
}

.header .bottom ul li {
	margin-right: 40px;
}

.header .bottom ul li a {
	cursor: pointer;
	color: rgb(106, 106, 106);
	font-weight: 600;
	text-decoration: none;
	text-overflow: ellipsis;
}

.header .bottom ul li a:hover {
	color: #21243d;
}

.header .bottom ul li img {
	width: 15px;
}

.links-list li {
	margin: 0 3px !important;
	padding: 7px;
	background-color: #B9C698;
}

.contact-me {
	background-color: #D9E1C5;
	display: flex;
	flex-direction: column;
}

.contact-me .title-container {
	display: flex;
	margin: 5% 15% 0;
	flex-direction: column;
}

.title {
	vertical-align: baseline;
	font-size: 3rem;
	line-height: 1.2;
	font-family: 'Poppins Bold',sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	letter-spacing: 0;
	color: #141414;
	text-transform: none;
}

.contact-me .subtitle {
	color: #6a6a6a;
	margin: 20px 0;
	padding-bottom: 10px;
	border-bottom:  1px solid #a19f9f;
	font-family: Inconsolata, "Courier New", Courier, monospace;
	font-weight: 600;
	font-size: 1rem;
}

.contact-me .contact-ways-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 3% 15% 5%;
}

.contact-me .contact-ways-container > div {
	display: flex;
	flex-direction: column;
}

.contact-me .contact-ways-container .icon-container {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-me .contact-ways-container .icon-container img {
	width: 40px;
	height: 40px;
}

.contact-me .contact-ways-container span {
	font-family: Inconsolata, "Courier New", Courier, monospace;
	font-size: 14px;
	font-weight: 700;
	color: #6a6a6a;
	margin: 25px 0;
}

.contact-me .contact-ways-container a {
	font-family: Inconsolata, "Courier New", Courier, monospace;
	font-size: 20px;
	font-weight: 600;
	color: rgb(20, 20, 20);
}

.footer {
	color: #21243d;
	font-family: Inconsolata, "Courier New", Courier, monospace;
	width: 65%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	user-select: none;
  }
  
  .footer img {
	  height: auto;
	  background-color: transparent!important;
	  display: block;
	  max-width: 100%;
  }

.footer .left {
	display: flex;
	align-items: center;
	padding: 20px 0;
	font-family: 'varela-round';
}

.footer .left img {
	width: 50px;
	height: auto;
	background-color: transparent!important;
	display: block;
	max-width: 100%;
	border-radius: 50%;
}

.footer .right {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}

.footer .right nav {
	display: flex;
	align-items: center;
}

.footer .right ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
}

.footer .right ul li {
	margin-right: 40px;
}

.footer .right ul li a {
	cursor: pointer;
	color: rgb(106, 106, 106);
	font-weight: 600;
	text-decoration: none;
	text-overflow: ellipsis;
}

.footer .right ul li a:hover {
	color: #21243d;
}

.footer .right ul li img {
	width: 15px;
}

.instagram-featured {
	display: flex;
	margin: 5% 15%;
	flex-direction: row;
}

.instagram-featured .subtitle {
	display: flex;
	align-items: center;
	font-family: Inconsolata, "Courier New", Courier, monospace;
	font-weight: 600;
}

.instagram-featured .subtitle img {
	width: 25px;
	height: 25px;
	padding-right: 15px;
}

.instagram-featured .images-container {
	display: flex;
	flex-direction: row;
}

.instagram-featured .images-container img {
	padding: 0 10px;
	width: 200px;
	height: 200px;
}

.services-section {
	display: flex;
	flex-direction: row;
	margin: 5% auto;
	width: 70%;
}

.services-section > div {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}

.services-section > div * {
	padding: 7px 0 4px 0;
}

.services-section > div img {
	width: 50px;
	height: 50px;
}

.services-section .title {
	align-items: center;
	font-family: Inconsolata, "Courier New", Courier, monospace;
	font-weight: 600;
	font-size: 1.5rem;
}

.services-section .text {
	align-items: center;
	font-family: Inconsolata, "Courier New", Courier, monospace;
	font-weight: 500;
	color: #6a6a6a;
	font-size: .9rem;
}